<ActionBar title="Contact Us" class="action-bar">
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
  Use the ActionItem for IOS with position set to left. Using the
  NavigationButton as a side-drawer button in iOS is not possible,
  because its function is to always navigate back in the application.
  -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
</ActionBar>
<StackLayout class="page m-5">
  <StackLayout class="p-10 border">
    <Label class="h2" text="Contact Information"></Label>
    <StackLayout class="p-t-20 p-l-30">
      <Label
        class="body"
        text="121, Clear Water Bay Road"
        textWrap="true"
      ></Label>
      <Label
        class="body"
        text="Clear Water Bay, Kowloon"
        textWrap="true"
      ></Label>
      <Label class="body" text="HONG KONG" textWrap="true"></Label>
      <Label class="body" text="Tel: +852 1234 5678" textWrap="true"></Label>
      <Label class="body" text="Fax: +852 8765 4321" textWrap="true"></Label>
      <Label
        class="body"
        text="Email:confusion@food.net"
        textWrap="true"
      ></Label>
    </StackLayout>
    <GridLayout rows="*" columns="*, *" class="m-t-20">
      <Button
        row="0"
        col="0"
        [text]="('fa-phone' | fonticon) + ' Call'"
        class="btn btn-rounded-sm btn-outline no-border fa "
      ></Button>
      <Button
        row="0"
        col="1"
        [text]="('fa-envelope-o' | fonticon) + ' Email'"
        class="btn btn-rounded-sm btn-outline no-border fa"
        (tap)="sendEmail()"
      ></Button>
    </GridLayout>
  </StackLayout>
</StackLayout>
