<ActionBar title="About Us" class="action-bar">
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
  Use the ActionItem for IOS with position set to left. Using the
  NavigationButton as a side-drawer button in iOS is not possible,
  because its function is to always navigate back in the application.
  -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
</ActionBar>
<StackLayout class="page m-5">
  <StackLayout class="p-10 border">
    <Label class="h2" text="Our History"></Label>
    <StackLayout>
      <Label
        class="body"
        text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."
        textWrap="true"
      ></Label>
      <Label
        class="body"
        text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."
        textWrap="true"
      ></Label>
    </StackLayout>
  </StackLayout>

  <StackLayout class="p-10">
    <Label class="h2" text="Corporate Leadership"></Label>
    <ListView [items]="leaders" class="list-group" *ngIf="leaders">
      <ng-template let-leader="item">
        <StackLayout orientation="horizontal" class="list-group-item">
          <Image
            row="0"
            col="0"
            rowSpan="3"
            height="80"
            width="80"
            borderRadius="100"
            [src]="baseURL + leader.image"
            class="img-circle p-10"
          ></Image>
          <GridLayout class="list-group-item" rows="auto, *, *" columns="*">
            <Label
              row="0"
              col="0"
              class="list-group-item-heading"
              [text]="leader.name"
            ></Label>
            <Label
              row="1"
              col="0"
              class="list-group-item-text"
              [text]="leader.designation"
            ></Label>
            <Label
              row="2"
              col="0"
              class="list-group-item-text"
              textWrap="true"
              [text]="leader.description"
            ></Label>
          </GridLayout>
        </StackLayout>
      </ng-template>
    </ListView>
    <ActivityIndicator
      busy="true"
      *ngIf="!(leaders || errMess)"
      width="50"
      height="50"
      class="activity-indicator"
    ></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
  </StackLayout>
</StackLayout>
